:root {
  /* Colors */
  --bg-color: #2a2f3d;
  --main-color: #ff6732;
  --second-color: #ffca00;
  --text-color: #ffffff;
  --accent-color: #00f2ff;
  /* Font Sizes */
  --heading-fs: 5rem;
  --main-fs: 1.5rem;

  /* Outlines */
  --base-outline: 2px solid var(--second-color);
}

.page {
  background-color: var(--bg-color);
}
